


body,div{
	
	font-family:'lucida grande', helvetica, verdana, arial, sans-serif;
	font-size: small;
}
#canvas{

    border-color: #aaaaaa;
      border-width: 1px;
    border-style: solid;
    width:100%;
}
#wrapper{
    margin-left:50px;
    margin-right:370px;
}
#twitter{
    width:300px;
    height:100%;
    border:10px solid #9AE4E8;
    border-radius: 10px 10px 10px 10px;
    float:right;
    margin-left:-350px;
    overflow:auto;
    background-color:#fff;
}    