


body,div{
	
	font-family:'lucida grande', helvetica, verdana, arial, sans-serif;
	font-size: small;
}
#canvas{

    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
    width:100%;
}
#wrapper{
    margin-left:50px;
    margin-right:370px;
}
#twitterCanvas{
    width:300px;
    /*border-radius: 10px 10px 10px 10px;*/
    float:right;
    margin-left:-350px;
    background-color:#fff;
}
#twitterHeader{
	background-image:url('../img/twitterPaleta.png');
	height: 40px;
}
#twitterlogo{
	background-image:url('../img/twitter_logo_top_bar.png');
	height:20px;
	width:105px;
	position:absolute;
	margin-top:10px;
	margin-left:97px;
	margin-right:98px;
	
}

#twitter{
	overflow:auto;
	height:100%;
	margin:10px;
	margin-top:0px;
    border-top:0px;
    background-color:#fff;
} 
.twitterSearchTweet{
border:1px #000;
}
#timeFrameValue{
	display:None;
}
#timeFrameButton{
	background-image:url('../img/menu.png');
	width:64px;
	height:64px;
	float:left;
}
#menu{
	margin-top:15px;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header {margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
