
body,div{
	font-family:'lucida grande', helvetica, verdana, arial, sans-serif;
	font-size: 13px;	
}
#canvas{
    border-color: #aaaaaa;
    border-width: 0px;
    border-style: solid;
    width:100%;

}
canvas:focus { outline: 0; }
#wrapper{
    margin-left:0px;
    margin-right:0px;
    display:none;
    
}
#wrapper-map{
	float:left;
}
#twitterCanvas{
    width:300px;
    /*border-radius: 10px 10px 10px 10px;*/
    float:left;
    margin-left:0px;
    background-color:#d5d1ea;
}
#twitterHeader{

	background:url('../img/canvas-top-bar-left.png') top left no-repeat,url('../img/canvas-top-bar-right.png') top right no-repeat,url('../img/canvas-top-bar-center.png') top center no-repeat;
	background-size: 6px 27px,6px 27px,100% 27px;
	height:26px;
}
#twitterlogo{
	background-image:url('../img/twitter_logo_top_bar.png');
	background-repeat: no-repeat;
	background-position: center;
	height:100%;
	width:100%;
	
}

#twitter{
	overflow:auto;
	height:100%;
	margin:0 4px 0 4px;
	margin-top:0px;
    border-top:0px;
    background-color:#fff;

}
#twitterBottom{
	height:10px;
	width:100%;
	background-color:red;
	background:url('../img/tweet_corner_bl.png') top left no-repeat,url('../img/tweet_corner_br.png') top right no-repeat,url('../img/tweet_bottom.png') top center repeat-x;
}
.twitterSearchTweet{
	background-color:white;
	background:url('../img/tweet_left.png') top left repeat-y,url('../img/tweet_right.png') top right repeat-y;
    border:1px #000;
    overflow: auto;
}
.emptyTweet{
	
	width:100%;
	height:35px;
	background:url('../img/empty_corner_tl.png') top left no-repeat,url('../img/empty_corner_tr.png') top right no-repeat,url('../img/empty_top.png') top center no-repeat,url('../img/empty_corner_ll.png') bottom left no-repeat,url('../img/empty_corner_lr.png') bottom right no-repeat,url('../img/empty_bottom.png') bottom center no-repeat;
	background-size: 6px 14px,6px 14px,100% 14px,6px 14px,6px 14px,100% 14px;
	background-color:#d5d1ea;
}
#timeFrameValue{
	display:None;
}
#timeFrameButton{
	background-image:url('../img/menu.png');
	width:64px;
	height:64px;
	clear: left;
}
#menu{
	/*padding: 5px;
	position: absolute;
	background-color:black;
	text-shadow: 1px 1px #444,-1px -1px #000;
	color: #ccc;
	border-radius: 5px 5px 5px 5px;*/
}
fieldset { padding:0; border:0; margin-top:5px; }
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.ui-dialog-titlebar-close {display:None}
.ui-dialog-titlebar {height:35px}
.ui-dialog-title{}

#trending{
	/*
	background-image:url('../img/twitterPaleta.png');
	height:35px;
	width:100%;
	text-shadow: 1px 1px #444,-1px -1px #000;
	color: #ccc;
	padding:0px 1px 0px 1px;
	*/
	
	/*border-color:#444;
	border-width: 1px 1px 0px 1px;
	border-radius: 10px 10px 0 0;
	border-style: solid;*/
	
	
	background:url('../img/canvas-top-bar-left.png') top left no-repeat,url('../img/canvas-top-bar-right.png') top right no-repeat,url('../img/canvas-top-bar-center.png') top center no-repeat;
	background-size: 6px 27px,6px 27px,100% 27px;
	height:26px;
	width:100%;
	text-shadow: 1px 1px #444,-1px -1px #000;
	color: #ccc;
	padding-top:2px;
	border-color:black;
	border-width: 0px 0px 0px 0px;
	border-radius: 0px 0px 0 0;
	border-style: solid;
	
	 
	 /*background-image:url('../img/canvas-top-bar.png');*/
}
#bottom-bar{
    background:url('../img/canvas-bottom-bar-left.png') top left no-repeat,url('../img/canvas-bottom-bar-right.png') top right no-repeat,url('../img/canvas-bottom-bar-center.png') top center no-repeat;
	background-size: 6px 27px,6px 27px,100% 27px;
	height: 27px;
	width: 100%;
	padding-top: 7px;



}

#progress-bar{
    width: 60%;
    margin-left: 240px;

}


#trendingList{
	margin:0;
	padding:0;
	height: 26px;
}

#trendingList .trendingPlace{
	float:left;
	margin-right:8px;
	margin-left:2px;
	margin-left:3px;
	padding-right:5px;
	padding-left:2px;
	border-right-color: #aaaaaa;
    border-right-width: 2px;
    border-right-style: solid;
    padding-top:9px;
    padding-bottom:11px;


}

#trendingList .trendingCount{
	margin-left:3px;
	padding-right:2px;
	padding-left:2px;
	border-color: #aaaaaa;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
}


/* css for timepicker */
.ui-timepicker-div .ui-widget-header {margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
