#info-box{
	display:none;
	position: absolute;


	opacity: 0.75;
}
#info-box .content{
    background-color: #fff;
	margin-left: auto;
	padding: 10px;
}

#info-box a{
}

#info-box .name{
	font-weight: bold;
}