#info-box{
	display:none;
	position: absolute;
	padding: 0px 20px 0px 0px;
    background:url('../img/info-pointer-right.png') top right no-repeat;

	opacity: 0.75;
}
#info-box .content{
    background-color: #fff;
	margin-left: auto;
	padding: 10px;
}

#info-box a{
}

#info-box .name{
	font-weight: bold;
}